
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        <h1 style="text-align:center;color:red;text-decoration:underline">Naresh I Technologies</h1>
        <h3 style="text-align:center;text-decoration:underline">Login Page</h3>
        @*<form action="/Home/Validate" method="post">*@
        <form method="post">
            <table align="center">
                <tr><td>User Id:</td><td><input type="text" id="txtUid" name="txtUid" /></td></tr>
                <tr><td>Password:</td><td><input type="password" id="txtPwd" name="txtPwd" /></td></tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" id="btnLogin" value="Login" />
                        <input type="reset" id="btnReset" value="Reset" />
                    </td>
                </tr>
            </table>
        </form>
        <h4 style="text-align:center;color:red">
            Click here to go to <a href="/Home/Index">Home Page.</a>
        </h4>
    </div>
</body>
</html>
