
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
</head>
<body>
    <div>
        <h1 style="text-align:center;color:red;text-decoration:underline">Naresh I Technologies</h1>
        <div style="background-color:cyan">
            <fieldset style="border: 5px solid coral">
                <legend>Contact Us:</legend>
                &nbsp;&nbsp;Phone: 2374 6666 <br />
                &nbsp;&nbsp;Whatsapp: 81791 91999 <br />
                &nbsp;&nbsp;Email: info@nareshit.com <br />
                &nbsp;&nbsp;Website: www.nareshit.com <br />
                &nbsp;&nbsp;Address: 2nd Floor, Durga Bhavani Plaza, Satyam Theatre Road, Ameerpet, Hyderabad - 500016
            </fieldset>
        </div>
        <h4 style="text-align:center;color:red">Click here to go to <a href="/Home/Index">Home Page.</a></h4>
    </div>
</body>
</html>
